*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: bisque;
    color: black;
    height: 56px;

}
.content{
    font-family: 'Merriweather', serif;

}
.container{
    background-color: pink;
    width: 60vw;
    padding: 32px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}
.logo{
    padding:0 23px ;



}
.logo img{
    width: 32px;
}